@mixin no-margin-padding() {
  margin: 0;
  padding: 0;
}

@mixin flex-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Variables:
$border-radius: 6px;
